<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kapitel 6/src/erste_aufgabe/DotComVersenken.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="erste_aufgabe.DotComVersenken"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Kapitel 6"/>
</launchConfiguration>
